.o-add-btn {
    border-radius: 50px !important;
    color: white;
    background: rgb(252, 197, 0);
    background: linear-gradient(180deg, rgba(252, 197, 0, 1) 35%, rgba(224, 88, 51, 1) 100%);
}

.cancel-btn {
    cursor: pointer;
    border-radius: 25px;
    font-weight: 700;
}
