@import "./../../../../shared/scss/colors";
$red: #d0021b;
$blue: #393085;

.business-registration-requests {
    .search-btn {
        color: white;
        background-color: $o-orange;
    }

    .clear-btn {
        color: $red;
        background: none;
        border: 1px solid $red;
    }

    .clear-btn,
    .search-btn {
        width: 94px;
        height: 35px;
        font-weight: 600;
    }

    .view {
        color: $blue;
        cursor: pointer;
    }

    table {
        width: 100%;

        th,
        td {
            padding: 10px;
        }
    }

    .table-content {
        max-width: 100%;
        overflow: auto;
    }
}

:host ::ng-deep {
    .mat-elevation-z8 {
        box-shadow: none;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex,
    .e-outline {
        background-color: white;
        border: solid 2px rgba(0, 0, 0, 0.07);
        border-radius: 0px;
        max-height: 54px;
    }

    th.mat-header-cell {
        color: black;
        font-weight: 600;
        font-size: 15px;
    }

    .e-input-group {
        height: 50px;
        color: black;
    }

    .e-keyboard,
    .e-date-icon .e-icons {
        color: black !important;
        font-size: 16px !important;
        background-color: white !important;
    }
    .comments-column {
        width: 110px;
    }
    .business-type-column {
        width: 120px;
    }
}
