<mat-divider></mat-divider>

<mat-error *ngIf="isError">
    please enter all required data
</mat-error>

<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="row">

    <mat-form-field appearance="fill" class="col-md-6 col-sm-12 mt-3">
        <mat-label class="dms-label-color">{{'Enter current password' | translate}}</mat-label>
        <input matInput [type]="hide.password ? 'password' : 'text'" placeholder="Current Password"
            formControlName="currentPassword" (paste)="onPaste($event)">
        <button type="button" mat-icon-button matSuffix (click)="hide.password = !hide.password">
            <mat-icon>{{hide.password ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="!form.controls['currentPassword'].valid  && form.controls['currentPassword'].dirty">
            {{getError('password')}}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-md-6 col-sm-12 mt-3">
        <mat-label class="dms-label-color">{{'Enter new password' | translate}}</mat-label>
        <input matInput [type]="hide.newPassword ? 'password' : 'text'" formControlName="newPassword"
            (paste)="onPaste($event)">
        <button type="button" mat-icon-button matSuffix (click)="hide.newPassword = !hide.newPassword">
            <mat-icon>{{hide.newPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="!form.controls['newPassword'].valid && form.controls['newPassword'].dirty">
            {{getError('newPassword')}}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-md-6 col-sm-12 mt-3">
        <mat-label class="dms-label-color">{{'Confirm password' | translate}}</mat-label>
        <input matInput [type]="hide.confirmPassword ? 'password' : 'text'" placeholder=""
            formControlName="confirmPassword" (paste)="onPaste($event)">
        <button type="button" mat-icon-button matSuffix (click)="hide.confirmPassword = !hide.confirmPassword">
            <mat-icon>{{hide.confirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].dirty">
            {{getError('confirmPassword')}}
        </mat-error>
    </mat-form-field>


    <div class="col-6 align-right-button">
        <button mat-raised-button color="primary" type="submit" class="confirm-btn o-add-btn">
            {{'Update' | translate}}
        </button>
    </div>
</form>