<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate dir="auto">
  <div class="row mb-1" dir="auto">
    <div class="col-11">
      <h4 class="dialog-title">
        {{formTitle}} {{"Dispatching Managers" | translate}}
      </h4>
    </div>
    <div class="col-1" (click)="cancel()">
      <mat-icon class="close">close</mat-icon>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-form-field appearance="fill" class="mt-2">
    <mat-label class="dms-label-color"> {{"Designation Name" | translate}} <span class="error">*</span></mat-label>
    <input matInput placeholder='{{"Designation Name" | translate}}' formControlName="designationName">
    <mat-error *ngIf="!form.controls['designationName'].valid">
      {{ getError("designationName") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="dms-label-color">{{"Manager Name" | translate}}<span class="error">*</span> </mat-label>
    <mat-select formControlName="managerId">
      <mat-option *ngFor="let manager of managers" [value]="manager.id">
        {{ manager.firstName }}</mat-option>
    </mat-select>
    <mat-error *ngIf="!form.controls['managerId'].valid">
      {{ getError("managerId") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="dms-label-color">{{'Zone(s)' | translate}}</mat-label>
    <mat-select formControlName="zonesCtrl" multiple (selectionChange)="onChange($event,'zones')"
      [placeholder]="'Please Select'">
      <mat-option *ngFor="let zone of geoFences" [value]="zone.id">
        {{ zone.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="dms-label-color">{{'Restaurant(s)' | translate}}</mat-label>
    <mat-select formControlName="restaurantsCtrl" multiple (selectionChange)="onChange($event,'restaurants')"
      [placeholder]="'Please Select'">
      <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.id">
        {{ restaurant.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="dms-label-color">{{'Branch(s)' | translate}}</mat-label>
    <mat-select formControlName="branchesCtrl" multiple [placeholder]="'Please Select'">
      <mat-option *ngFor="let branch of branches" [value]="branch.id">
        {{branch.restaurant.name}} / {{branch.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions>
    <button type="button" mat-flat-button (click)="cancel()" class="cancel-btn">{{"Cancel" | translate}}</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="isSubmitted"
      class="confirm-btn o-add-btn">{{formAction}}</button>
  </div>

</form>